* {
    box-sizing: border-box;
}

:root {
    --clr-text: #2e2e2e;
    --clr-bg: #fafafa;
}

body {
    background-color: var(--clr-bg);

    color: var(--clr-text);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.cards {
    list-style: none;
}

